*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;	
}

.container1 {
  height: 60px;
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

.container1 .logo1 {
  max-width: 250px;
  padding: 0 10px;
  overflow: hidden;
}

.container1 .logo1 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
}

.container1 .logo1 a img {
  max-width: 100%;
  max-height: 60px;
}

.container1 .navbar1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 10px;
  margin-left: 20%;
}

.container1 .navbar1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.container1 .navbar1 ul li a {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #123239;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  padding: 0px 25px;
}

.container1 .navbar1 ul li a:hover {
  color: #ffffff;
  background-color: rgba(23, 23, 23, 0.9);
}

.container1 .navbar1 ul .close1 {
  display: none;
  text-align: right;
  padding: 10px;
}

.container1 .navbar1 ul .close1 span {
  font-size: 40px;
  display: inline-block;
  border: 1px solid #cccccc;
  padding: 0 10px;
  cursor: pointer;
}

.container1 .navbar1 .icon-bar1 {
  padding: 18px 8px;
  width: 50px;
  height: 60px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}

.container1 .navbar1 .icon-bar1 i {
  background-color: #123239;
  height: 2px;
}

.ad-img-pc{
  width: 85%;
  margin-top: 2%;
  margin-left: 7.5%;
}

.ad-img-pc img{
  padding: 20px;
  width: 100%;
  height: auto;
}
.ad-img-mobile {
  display: none;
  width: 85%;
  margin-top: 2%;
  margin-left: 7.5%;
}
.ad-img-mobile img{
  padding: 20px;
  width: 100%;
  height: auto;
}

.ad-div {
  margin-bottom: 2%;
  left: 7.5%;
  width: 85%;
  position: relative;
  text-align: center;
  background-color: #123239;
  color: white;
  padding: 25px;
  font-size: 17px;
}


@media only screen and (max-width: 650px) {
  .ad-img-pc {
    display: none;
  }
  .ad-img-mobile{
    display: block;
  }
  .container1 {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .container1 .logo1 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .container1 .navbar1 {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
  }

  .container1 .navbar1 ul {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: fixed;
    left: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: left .3s;
    -o-transition: left .3s;
    transition: left .3s;
  }

  .container1 .navbar1 ul li a {
    padding: 10px;
    font-size: 16px;
    height: auto;
    line-height: normal;
    color: #555555;
  }

  .container1 .navbar1 ul .close1 {
    display: block;
  }

  .container1 .navbar1 .icon-bar1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .container1 .navbar1 ._Menus-show {
    left: 0;
  }
}

.body {
  max-width: 700px;
  margin: 0 auto;
  padding: 10px;
}