@media screen and (max-width: 960px) and (min-width: 820px) {
    .nav-bar .tabs .logo img{
        width: 60%;
    }
}
@media screen and (max-width: 820px) and (min-width: 750px) {
    .nav-bar .tabs .logo{
        display: none;
    }
}
@media screen and (max-width: 750px) {
    .nav-bar .tabs .logo img{
        width: 60%;
    }
    .nav-bar{
        padding:0px;
    }
    .tab-content{
        padding:0px 10px 10px 10px;
    }

    .tab{
        margin: 0px;
        padding: 10px;
        font-size: 1.4rem;
    }
    
    .tab.home{
        font-size: 1.2rem;
    }

    .nav-bar-label{
        display: none;
    }

    .active[data-tab-content]{
        display: block;
        padding:0px 5px;
    }

     #calculator{
        padding:10px 0px;
    }
    
    .calculator{
        width: 100%;
    }
    
    .cgpaInput-box{
        display: block;
    }
    
    .cgpaInput-box .cgpaInput{
        width: calc(100% - 22px);
        margin: 5px 0px;
        padding: 10px;
        font-size: 0.8rem;
    }
    
    .cgpaInput input[type="number"]{
        width:30%;
        padding:2px 5px;
        font-size: 0.8rem;
    }
    
    .calculator-table th{
        margin: 0px;
        padding: 10px;
        font-size: 0.8rem;
    }
    
    .calculator-table td{
        margin: 5px;
        padding: 10px;
        font-size: 1.2rem;
    }
    
    input[type="text"]{
        width: 90%;
        font-size: 0.8rem;
    }
    
    select{
        width:100%;
        font-size: 0.8rem;
    }
    
    .addSubject-btn{
        width: 100%;
        margin: 5px 0px;
        padding: 10px;
        font-size: 1rem;
    }
    
    .gpa-target{
        display: none;
    }
    
    .gpaTargetInput-box{
        width:100%;
        margin-right: 30px;
    }
    
    .gpaTargetInput-box .gpaTargetInput {
        width: calc(100% - 20px);
        margin: 5px 0px;
        padding: 10px;
        text-align: left;
        font-size: 0.8rem;
    }
    
    .gpaTargetInput input[type="number"]{
        width:30%;
        padding:2px 5px;
        font-size: 0.8rem;
    }
    
    .gpaTargetLabel{
        width:calc(100% - 22px);
        margin: 5px 0px;
        padding: 10px;
        font-size: 0.8rem;

    }
    
    .gpaTargetValue{
        font-size: 2.4rem;
        font-family: 'Manrope', sans-serif;
    }
    
    .result{
        width:calc(100% - 4px);
        margin:5px 0px;
    }
    
    .gpa-row, .cgpa-row{
        display: flex;
    }

    .display-label{
        width: 50%;
        padding: 10px;
        font-size: 0.8rem;
    }
    
    .display-value{
        font-size: 2.6rem;
    }

     #settings{
        padding:10px 0px;
    }

    .configureSettings{
        background-color: #f2f2f2;
        margin-right: 0px;
        width: 100%;
        border: none;
    }

    .settingsList{
        display: none;
    }

    .currentSettings{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 16px;
    }

    .currentSettingsText{
        font-size: 0.8rem;
        color: #dddddd;
    }

    #settingsName{
        font-size: 1.1rem;
    }

    #toggleShowSettings{
        display: block;
        font-size: 1.5rem;
    }

    .preSetSettingsHead{
        padding: 10px;
        font-size: 0.7rem;
        line-height: 1.5;
        text-align: center;
    }

    .scrollable{
        height: 30vh;
        overflow: auto;
    }

    .preSetTab{
        padding: 8px 16px;
        font-size: 0.8rem;
    }

    .settings-table{
        width: 100%;
        min-width: 100%;
        font-size: 0.8rem;
        border-collapse: collapse;
        border: none;
        margin-top: 10px;
    }

    .settings-table th, .settings-table td{
        text-align: center;
        padding: 10px 20px; 
    }

    .settings-table td{
        font-size: 1rem;
    }

    .settings-table input[type="checkbox"]{
        width: 1.2rem;
        height: 1.2rem;
    }

    input[type="number"]{
        width:50%;
        font-size: 1rem;
    }

    .saveSettings-btn{
        width:100%;
        margin:0px;
        padding:10px 30px;
        font-size: 1rem;
    }

    .saveSettings-btn:hover{
        background-color: #0b59a7;
    }

    .info-content{
        width:100%;
        padding:0px 5px;
        font-size:1rem;
        line-height: 1.2;
        letter-spacing: 0.5px;
        font-family: 'Roboto', sans-serif;
        color:#333333; 
    }

    .info-content h1{
        font-size: 1.8rem;
    }

    .info-content p{
        line-height: 1.6;
    }

    .formula{
        display:flex;
        align-items: center;
    }

}
